* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

body{
    font-family: sans-serif;
    background: url("img/PATRON-FONDO.jpg");
    background-position: center;
    background-repeat: repeat;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 16px;
}


header {
   width: 100%;
   text-align: center;
   margin: 20px auto;
}

header img {
    width: 90%;
}


nav{
    width: 100%;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    list-style: none;
    background: #3A3A3A;
    font-family: 'Indie Flower', cursive;
    padding: 0px auto;
    justify-content: center;
}


nav .menu li a {
    text-decoration: none;
    color: white ;
    font-size: 18px;
    display: inline-block;
    padding: 12px 15px;
}



nav .menu li a:hover {
    color: #81C002 ;  
}

.cuerpo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.izquierda {
 border: 2px solid black;
 justify-content: center;
 background-color: rgb(245, 245, 220,0.9);;
}


.menuizq{
    background:#81C002 ;
    padding: 10px 20px;
    
}

.widget{
    margin-top: 40px;
    padding-bottom: 20px;
}

.widget ul li{
    padding-bottom: 20px;
    margin-left: 5%;
    list-style: none;
}

.derecha {
    text-align: center;
    background-color: rgb(245, 245, 220,0.9);
    border: 2px solid black;
}

.imgmenu{
    width: 70%;
}

.imgjardineria{
    justify-content: center;
    display: flex;
}



h2{
    font-family: 'Indie Flower', cursive ;
}



@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(0); }
 
    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }
 
    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }           
 
    55% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }
 
    75% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }
 
    95% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
}
 

 
.wrapper {
    margin: auto;
    width: 80%;
    padding-top: 30PX;
}
 
.slider {
    position: relative;
    
}
 
.slides {
    position: relative;
    display: flex;
    overflow: hidden;
    
}
 
.slide {
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
 
.slides:hover .slide {
    animation-play-state: paused;
}
 
.slide img {
    width: 100%;
    vertical-align: top;
}
 
 
@media only screen {
    .slide {
        width: 100%;
    }
 
  
}
 
footer{
    width: 90%;
    height: 200px;
    background: rgb(58, 58, 58,0.9);
    color: #fff;
    padding: 20px; 
    border:solid 3px #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 10px auto;
}

footer .infoContacto{
    height: 100%;
}

footer h2{
    text-decoration: underline;
    margin-bottom: 10px;
}

footer .redes a{
    color: #fff;
    text-decoration: none;
}

footer .redes a img{
    width: 30px;
}

