* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
}


.contenedor {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: url("img/PATRON-FONDO.jpg");
    background-repeat: repeat;
}

header {

   width: 100%;
   text-align: center;
   margin: 20px auto;
}


nav{
    width: 100%;

}

.menu {
    display: flex;
    list-style: none;
    background: #3A3A3A;
    padding: 0px;
    padding-left: 5%;
    font-family: 'Indie Flower', cursive;
}


.naranco {
    width: 50px;
    align-items: flex-start;
}


nav .menu li a {
    text-decoration: none;
    color: white ;
    font-size: 18px;
    display: inline-block;
    padding: 12px 20px;
}



nav .menu li a:hover {
    color: #81C002 ;  
    border-radius: 10px;  
}

.cuerpo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.izquierda {
 width: 25%;
 border: 2px solid green;
 justify-content: center;
 background-color: rgb(245, 245, 220,0.9);;
}


.menuizq{
    background:#81C002 ;
    padding: 10px 20px;
    
}


.derecha {
    width: 74%;
    text-align: center;
    background-color: rgb(245, 245, 220,0.9);
    border: 2px solid green;
}

.imgmenu{
    width: 70%;
}

.imgjardineria{
    justify-content: center;
    display: flex;
}


nav ul{
    justify-content: center;
    margin: 15px;
    background-color: rgb(245, 245, 220,0.9);;
}

nav ul li{
    padding-top: 10px;
    text-decoration: none;
    list-style: none;
}



@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(0); }
 
    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }
 
    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }           
 
    55% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }
 
    75% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }
 
    95% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
}
 

 
.wrapper {
    margin: auto;
    width: 80%;
    padding-top: 30PX;
}
 
.slider {
    position: relative;
    
}
 
.slides {
    position: relative;
    display: flex;
    overflow: hidden;
    
}
 
.slide {
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
 
.slides:hover .slide {
    animation-play-state: paused;
}
 
.slide img {
    width: 100%;
    vertical-align: top;
}
 
 
@media only screen {
    .slide {
        width: 100%;
    }
 
  
}
 

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #3A3A3A;
    color: white;
    margin: 40px 0px;
    padding-left: 20px;
}

.autor{
    width: 50%;
    align-self: flex-start;
    
    font-size: 15px;
}

.redes{
    width: 30px;

}

.rrss{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    padding-right: 20px;
}
