* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    background: url("img/PATRON-FONDO.jpg");
    background-position: center;
    background-repeat: repeat;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 16px;
}


header {
   width: 100%;
   text-align: center;
   margin: 20px auto;
}


nav{
    width: 100%;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    list-style: none;
    background: #3A3A3A;
    font-family: 'Indie Flower', cursive;
    padding: 0px auto;
    justify-content: center;
}


nav .menu li a {
    text-decoration: none;
    color: white ;
    font-size: 18px;
    display: inline-block;
    padding: 12px 15px;
}



nav .menu li a:hover {
    color: #81C002 ;  
}

.plantas_interior{
    margin: auto;
    padding: 20px;
    width:90%;
    max-width: 1500px;
    height: 70%;
    background: rgb(245, 245, 220,0.9);
    border: solid 3px black;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    color: #D35400;
    font-size: 60px; 
    font-style: italic;
    font-family: monospace;
    align-items: center;
}

.plantas_interior h2{
    width: 100%;
    margin: 10px;
    color: #D35400;
    font-size: 40px; 
    font-style: italic;
    font-family: monospace;
}

.Planta1, .Planta2, .Planta3, .termostato, .maceta{
    width: 70%;
    padding: 10px;
    margin: 20px;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.Planta1 img, .Planta2 img, .Planta3 img, .termostato img, .maceta img{
    width: 20%;
    margin-right: 20px;

    display: flex;
    flex-wrap: wrap;
}

.Planta1, .Planta2, .Planta3{
    width: 70%;
    padding: 10px;
    margin: 20px;

    display: flex;
    flex-wrap: nowrap;
}


footer{
    width: 90%;
    height: 200px;
    background: rgb(58, 58, 58,0.9);
    color: #fff;
    margin: auto; 
    padding: 20px; 
    border:solid 3px #000;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

footer .infoContacto{
    height: 100%;
}

footer .redes{
    height: 100%;
}

footer h2{
    text-decoration: underline;
    margin-bottom: 10px;
}

footer .redes a{
    color: #fff;
    text-decoration: none;
}

footer .redes a img{
    width: 30px;
}
